@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #EC4899;
  --color-primary-dull: #C7327C;
}

* {
  font-family: "Inter", sans-serif;
  scrollbar-width: thin;
  /* thumb color, track color (Firefox) */
  scrollbar-color: var(--color-primary) transparent;
}

/* WebKit browsers: custom scrollbar styling */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
  border: 2px solid transparent; /* spacing */
}

body {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}



